DATABASE_URL="add your database url here"


DIRECT_URL="add your direct url here"

BETTER_AUTH_SECRET="add your better auth secret here"

BETTER_AUTH_URL="add your better auth url here"

NEXT_PUBLIC_APP_URL="add your next public app url here"

NEXT_PUBLIC_API_URL="add your next public api url here"

FRONTEND_URL="add your frontend url here"

GOOGLE_CLIENT_ID="add your google client id here"


GOOGLE_CLIENT_SECRET="add your google client secret here"



GITHUB_CLIENT_ID="add your github client id here"


GITHUB_CLIENT_SECRET="add your github client secret here"


NEXT_PUBLIC_AUTH_URL="add your next public auth url here"


# --- EMAIL CONFIGURATION ---
SMTP_HOST="add your smtp host here"
SMTP_PORT="add your smtp port here"
SMTP_USER="add your smtp user here"
SMTP_PASS="add your smtp pass here"

UPLOADTHING_SECRET="add your uploadthing secret here"
UPLOADTHING_APP_ID="add your uploadthing app id here"
UPLOADTHING_TOKEN="add your uploadthing token here"


# AI

GROQ_API_KEY="add your groq api key here"





LIVEKIT_URL="add your livekit url here"
LIVEKIT_API_KEY="add your livekit api key here"
LIVEKIT_API_SECRET="add your livekit api secret here"


NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY="add your liveblocks public key here"

LIVEBLOCKS_SECRET_KEY="add your liveblocks secret key here"

LIVEBLOCKS_WEBHOOK_SECRET="add your liveblocks webhook secret here"


REDIS_URL="add your redis url here"

STRIPE_SECRET_KEY="add your stripe secret key here"


STRIPE_PRO_PRICE_ID="add your stripe pro price id here"

STRIPE_WEBHOOK_SECRET="add your stripe webhook secret here"


SLACK_CLIENT_ID="add your slack client id here"
SLACK_CLIENT_SECRET="add your slack client secret here"


GRAFANA_API_TOKEN="add your grafana api token here"

GRAFANA_LOKI_USER="add your grafana loki user here"

GRAFANA_LOKI_URL="add your grafana loki url here"
